body {
    font: 15px/1.5 Arial, Helvetica, sans-sarif;
    padding: 0;
    margin: 0;
    background-image: url("https://dostuff-assets.s3.amazonaws.com/property_asset/46018/kerry-park.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}

#about {
font-size: 20px;
align-content: center;
padding: 5px;
}

#app-description {
    display: grid;
    color: rgb(122, 104, 139);
    font-size: 30px;
    padding: 20px;
    background-color: clear;
    border-radius: 30px;
    text-align: center;
}

#ask-what-now {
    float: center;
    padding: 20px;
    text-align: center;


}
