body {
    font: 15px/1.5 Arial, Helvetica, sans-sarif;
    padding: 0;
    margin: 0;
    background-image: url("https://cache-graphicslib.viator.com/graphicslib/page-images/742x525/406949_KERRY%20PARK,%20SEATTLE.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}

#about {
font-size: 20px;
align-content: center;
}

#appDescription {
    display: grid;
    color: black;
    font-size: 30px;
    padding: 20px;
    background-color: clear;
    border-radius: 30px;
    text-align: right;
}

#askAnthony {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    border-radius: 20px;
    grid-column-gap: 10px;
}

.askAnthony-child {
    padding: 10px;
    color: white;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.askAnthony-child {
    background-color: #236d3580;
    font-size: 30px;
    border-radius: 30px;
}

.askAnthony-child:hover {
    background-color: whitesmoke;
    transform: scale(1.25);
    font-size: 40px;
    border-radius: 50px;
    cursor: pointer;
}
