#mainDiv {
    display: grid;
    grid-template-rows: 1fr 5fr 2fr;
}



#landmarkImg {
    display: grid;
    /* grid-template-columns: 1.5fr 1fr; */
}

.landmarkImgChild {
    justify-content: center;
    justify-items: center;
}

#currentImg{
    height: 500px;
    width: 900px;
    border-radius: 20px;
}

#answer {
    font-size: 50px;
}
.jumbotron {
    height: 700px;
    margin-top: 40px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    background-color: black;
}